{% extends 'blog/base.html' %} <!-- 694. board의 상세 내용을 이와같이 작성한다. -->

{% block main_area %}

<div class="card"> <!-- 695. bootstarp(4.6)에서 Components -> Card에 가서 양식을 가져온다. 이제 board_list.html의 28째줄로 이동한다.-->
  <div class="card-body">
      <h4 class="card-title">{{ board.title }}</h4>

      <p class="float-right">{{ board.created_at }}</p>
      {{ board.author }}
      <hr/>
      {{ board.content | safe }} <!-- 720. safe를 추가함으로 board의 content를 처리해달라는 내용이다. 이제 settings.py의 158째줄로 이동한다. -->
  </div>
</div>

{% endblock %}