{% load socialaccount %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- 473.위에 저렇게 입력하고 55줄로 이동한다. -->
    <div class="container">
        <a class="navbar-brand" href="/">Ds</a> <!-- 175. ./index.html를 /로 바꿔준다. -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a> <!-- 175. ./index.html를 /로 바꿔주고 span의 내용은 지운다. -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Blog</a> <!-- 176. /blog/로 바꿔준다. -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About me</a> <!-- 177. /about_me/로 바꿔준다. 이제 blog/navbar.html을 만든 후, base.html에서의 11~77의 내용(navbar와 modal)을 navbar에 잘라서 갖다붙인다. -->
                </li>
            </ul>

            <ul class="navbar-nav ml-auto"> <!-- 476. 아래(34~48)와 같이 입력한다. -->
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown"> <!--477. 로그인 된 상태(20~30줄의 내용을 잘라내어 붙이고 아래와 같이 변경한다.) -->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <!-- 613. 로그인한 경우에 내비게이션 바에도 아바타가 나타나게 하기위해 이와같이(27~38) 입력한다. else의 src는 models.py의 85째 줄의 내용을 복사해서 붙이고 이와같이 입력한다. 이제 single_pages/templates/single_pages/landing.html의 6째줄로 이동한다. -->
                            {% if user.socialaccount_set.first.get_avatar_url %}
                                <img clas="rounded-circle"
                                     width="25px"
                                     src="{{ user.socialaccount_set.first.get_avatar_url }}"
                                     alt="{{ user.username }}">
                            {% else %}
                                <img class="rounded-circle"
                                     width="25px"
                                     src="https://doitdjango.com/avatar/id/1164/79445086251f6541/svg/{{ user.email }}"
                                     alt="{{ user.username }}">
                            {% endif %}
                            &nbsp;
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"> <!-- 478.로그인이 되면 여기 문장(45~46) 즉 로그인 버튼은 나오지 않는다. 이제 57줄로 이동한다.-->
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i> Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <a role="button" href="{% provider_login_url 'google' %}" type="button" class="btn btn-outline-dark btn-block btn-sm"><i class="fab fa-google"></i> Log in with Google</a> <!-- 474.구글로그인을 위해 이와같이 입력하고 admin -> Social applications -> Add social application -> provider: Google, Name: google, Client id와 Secret key 찾아서 붙여넣고 아래에 있는 127.0.0.1:8000 선택해서 오른쪽으로 보내고 save. 이제 settings.py의 152줄로 이동한다.  -->
                        <a role="button" href="/accounts/login/" type="button" class="btn btn-outline-dark btn-block btn-sm"><i class="far fa-user"></i> Log in with username</a> <!-- 479. 다른이메일로 회원가입 한 유저네임 로그인을 위한 변경 -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <a role="button" href="/accounts/signup/" type="button" class="btn btn-outline-dark btn-block btn-sm"><i class="far fa-envelope"></i> Sign up with E-mail</a> <!-- 480. 다른 이메일로 회원가입을 위한 변경. 이제 models.py의 64번째 줄로 이동한다. -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>