{% extends 'blog/base.html' %} <!-- 157. post_list.html의 1~3열의 것을 복사해서 붙이고 맨 아래에 endblock을 한다. -->
<!-- 160. 아래 3줄을 입력하고 tests.py 73째줄로 이동한다. -->
{% block head_title %}
{{ post.title }} | Blog
{% endblock %}

{% block main_area %}
<div id="post-area"> <!-- 162. id로 post-area를 지정한 후 아래 58열째로 간다. 이렇게 지정하면 tests.py에서 post-area에 관한 div를 찾을수 있다. -->
    {% if post.category %}
        <span class="badge badge-secondary float-right">{{ post.category }}</span> <!-- 277. if문(9~13)을 endif까지 이와같이 붙여넣고 p를 post로 바꿔놓는다. 이제 tests.py의 147째 줄로 이동한다. -->
    {% else %}
        <span class="badge badge-secondary float-right">미분류</span>
    {% endif %}
    <!-- Title -->
    <h1 class="mt-4">{{ post.title }}</h1> <!-- 66. {{ post.title }} 로 변경 -->
    {% if post.hook_text %} <!-- 112. post_list의 95~97째 줄의 문장을 복사해서 붙여 넣고 p를 post로 바꾸어 놓는다. 이제 blog/test.py로 이동한다.-->
    <h5 class="text-muted">{{ post.hook_text }}</h5>
    {% endif %}

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">{{ post.author | upper }}</a> <!-- 72.일단 이렇게 변경해놓고 setting.py로 간다 .--> <!-- 193. 작성자명 쓸 위치(개발예정) -> {{ post.author | upper }}로 변경한다. 이제 models.py 6째줄로 이동한다. -->
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on {{ post.created_at }}</p> <!-- 67. {{ post.created_at }}로 변경:만들어진 날짜 -->

    <hr>

    <!-- Preview Image -->
    {% if post.head_image %} <!-- 90. post_list의 내용을 복사해와서 기존의 86번순서의 것에 덮어씌운 후 p를 post로 바꿔준다. 그러면 이미지가 있든 없든 문제가 없다. -->
    <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }}">
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/600/200" alt="{{ p.title }}">
    {% endif %}
    <hr>


    <!-- Post Content -->
    <p>{{ post.content }}</p> <!-- 69. 이전 내용 다 지우고 이렇게 바꾼다.-->

    {% if post.file_upload %} <!-- 91. 파일을 다운로드 할 수 있게 하기위해 이와같이 입력한다. -->
    <a href="{{ post.file_upload.url }}" type="button" class="btn btn-outline-dark" role="button" download> <!-- 92. bootstrap.com ->components ->buttons에 가서 찾아서 카피하여 붙여넣고 a태그로 바꾸고, a href="{{ post.file_upload.url }}"를 입력한다. 93. role="button" download 을 입력하면 다운로드 할 수 있는 버튼이 생긴다. 이제 models.py로 이동한다. -->
        Download: <!-- 98. 이런식으로 입력하여 아래처럼 나열할수 있게 한다. 그리고 폰트 어썸에 가서 아이콘을 찾는다. 그리고 models.py로 이동한다. -->
        {% if post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %} <!-- 101.만약에(if문) 확장자가 xlsx 또는 xls일때 가져오는 것을 표기 -->
        <i class="far fa-file-excel"></i> <!-- 폰트어썸의 excel 아이콘 파일 -->
        {% elif post.get_file_ext == 'csv' %} <!-- 105. csv 파일일때 확장자 나오게 한다. -->
        <i class="fas fa-file-csv"></i> <!-- 폰트어썸의 csv 아이콘 파일 -->
        {% elif post.get_file_ext == 'docx' %} <!-- 106. docx 파일일때 확장자 나오게 한다. 이제 post_list 99째 줄 로 이동한다. -->
        <i class="far fa-file-word"></i> <!-- 폰트어썸의 워드 아이콘 파일 -->
        {% else %} <!-- 102. 아닌경우 else (아닌경우 그냥 file 아이콘을 보여주라는 것) 이제 post_list의 위(8째줄)로 이동한다.-->
        <i class="far fa-file-alt"></i>
        {% endif %}

        {{ post.get_file_name }} <!-- 97. models.py에서 file_name을 출력한다(업로드 파일의 이름을 가져오는 함수) 장고에서는 괄호를 쓸 수 없다. -->
    </a>
    {% endif %}

    <hr>
</div> <!-- 163. 위의 div를 여기서 닫고 ctr + alt + i로 정리한다. -->

<div id="comment-area"> <!-- 164. id로 comment-area를 지정하고 endbbloc바로 위에 div를 닫는다. -->

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <!-- Comment with nested comments -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

        </div>
    </div>
</div> <!-- 165. div를 닫는다. 이제 tests.py 로 이동한다. -->
{% endblock %} <!-- 158. endblock으로 마무리한다. 이제 base.html의 5번째 줄로 이동한다. -->