<!DOCTYPE html> <!-- 17. 이런식으로 작성한다 -->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - Blog</title>
</head>
<body>
    <nav>
        <a href="/blog/">Blog</a> <!-- Blog 를 누르면 /blog/로 되돌아온다. -->
    </nav>

    <h1>{{ post.title }}</h1>
    <h4>{{ post.created_at }}</h4>
    <p>{{ post.content }}</p>

    <hr/>

    <h3>여기에 댓글이 들어올 수 있겠죠?</h3>
</body>
</html>
<!-- 47. 부트스트랩 적용준비 : 우선 visual studio code를 열고 이전에 했던 do_it_django의 blog_list.html파일이나 저자 깃허브의 blog_list.html(포스트 목록 페이지에 부트스트랩 적용하기)의 내용을 통으로 복사해서 post_list.html에 그대로 갖다 싹 덮어씌운다. (지우기 이전 내용은 깃허브에서 CBV로 블로그 포스트 상세 페이지 만들기 항목 참조한다. -->