{% extends 'blog/base.html' %} <!-- 153. blog/base.html을 확장한다는 뜻 -->

{% block main_area %} <!-- 154. 아래의 내용을 base.html안에 있는 block main_area 안에 끼워넣겠다는 뜻이다. 맨아래 endblock입력하러 내려간다. base.html안에 끼워넣은 것을 post_list.html이라 생각한다는 것이다. -->
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %} <!-- 377. 로그인 이후, staff인지 superuser인지 확인이 되었다면 부트스트랩(현재 4.6버전)과 폰트어썸에서 양식을 가져오고 아래와같이 a태그로 작성해서(5~8) create_post의 New Post를 쓸수있게 할수있다. &nbsp;는 스페이스 기능을 한다. 이제 tests.py의 238줄로 간다. -->
            <a type="button" href="/blog/create_post/" class="btn btn-info btn-sm float-right"><i class="fas fa-pen"></i>&nbsp;&nbsp; New Post</a>
        {% endif %}
    {% endif %}
    <h1> <!-- 295. 아래 23째 줄의 내용(카테고리 뱃지: float-right를 없애면 왼쪽으로 붙는다.)을 복사하여 아래처럼 붙이고 변경한 후 if와 endif문으로 감싸준다. 이제 base.html의 42번째 줄로 이동한다. -->
        Blog
        {% if category %}
            <span class="badge badge-secondary">{{ category }}</span>
        {% endif %}
        {% if tag %}
            <span class="badge badge-light"> <!-- 326. tag에 대한 if, endif문(9~13)을 위에서 복사하고 부트스트랩을 이용하거나 39줄의 내용을 복사하여 이와같이 입력한다. 이제 tests.py의 205번째 줄로 이동한다. -->
                <i class="fas fa-tags"></i> {{ tag }} ({{ tag.post_set.count }})
            </span>
        {% endif %}
    </h1>

{% if post_list.exists %} <!-- 128. 이 조건에 맞는 쿼리가 존재하는가? 라는 문장. 다시 tests.py (30째 줄)로 이동한다.-->

{% for p in post_list %} <!-- 52. 이렇게 작성한다 -->
<!-- Blog Post -->
<div class="card mb-4" id="post-{{ p.id }}"> <!-- 268. id를 이와같이 입력한다. 그러면 ctr+U를 쳐보면 각각의 id에 번호가 붙는다. 18째줄로 이동한다.-->
    {% if p.head_image %} <!-- 88. 이전것에 덮어씌워서 이것부터 endif 까지 이와같이 입력한다(head_image가 있을때 이것을 보여준다) -->
    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p.title }}">
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/600/200" alt="{{ p.title }}"> <!-- 89. 84번 내용 지우고, else문 아래에 로럼 픽섬을 사용해서 가져와서 이와같이 추가한다.(아이디 속성을 seed/{{ p.id }}형식으로 추가하여 그림을 고정 이후 blog/post_detail.html로 이동) -->
    {% endif %} <!-- 84의 항목은 삭제한다.(이전것 참조) -->
    <div class="card-body"> <!-- 271. if문을 써서 else, endif까지 사용하여 이와같이 문장을 구성한다. 이제 base.html 39째 줄로 이동한다.-->
        {% if p.category %}
            <span class="badge badge-secondary float-right">{{ p.category }}</span> <!-- 269. 부트스트랩(버전4.6)에 가서 뱃지에 관한 코드를 복사해와서 붙인후 이와같이 입력한다. float-right입력시 오른쪽으로 붙는다.-->
        {% else %}
            <span class="badge badge-secondary float-right">미분류</span> <!-- 270. 미분류에 관한 것도 부트스트랩에 들어가 복사해 온후 이와같이 입력한다. -->
        {% endif %}
        <h2 class="card-title">{{ p.title }}</h2> <!-- 54. {{ p.title }}로 입력  -->
        {% if p.hook_text %} <!-- 110. hook_text 사용을 위해 endif 문까지 아래와 같이 입력한다. (if문. 만약에 hook_text가 있을때)-->
        <h5 class="text-muted">{{ p.hook_text }}</h5> <!-- 111. hook_text문이 있으면 보여주는 것, class="text-muted"는 텍스트가 살짝 흐릿하게 된다. 이제 post_detail.html(62째줄)로 가서 수정한다.-->
        {% endif %}
        <p class="card-text">{{ p.get_content_markdown | truncatewords_html:45 | safe }}</p> <!-- 461. 마크다운 적용을 위해 이와같이 변경한다. 462.이제 django-allauth의 페이지를 연 후 pip install django-allauth를 복사해서 (가상환경 켜진 상태에서) 설치한다. 이제 setting.py로 간다. -->
        <!-- 317. 태그가 나오게끔 if, endif문을 아래와같이 입력한다. 이후 tests.py의 170째 줄로 이동한다. -->
       {% if p.tags.exists %}
                <i class="fas fa-tags"></i> <!-- 폰트어썸의 태그 아이콘을 찾아 붙인다. 아래의 iterator는 서버의 부담을 줄여준다.-->
                {% for tag in p.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"><span class="badge bg-light text-dark">{{ tag }}</span></a>
                {% endfor %}
                <br/>
                <br/>
            {% endif %}

        <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a> <!-- 56. {{ p.get_absolute_url }} -->
    </div>
    <div class="card-footer text-muted">
        Posted on {{ p.created_at }} by <!-- 57. {{ p.created_at }} : 작성시간 -->
        <a href="#">{{ p.author | upper }}</a> <!-- 190.(이전58~59내용은 이전 github내용 참조), 작성자명 쓸 위치(개발예정)에서 이와같이 수정한다. 이제 tests.py의 85째 줄로 이동한다.  -->
    </div>
</div>
{% endfor %} <!-- 53. 이렇게 닫아준다. -->
{% else %} <!-- 128 -->
<h1>아직 게시물이 없습니다</h1> <!-- 128 -->
{% endif %} <!-- 128 -->

<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul> <!-- 152. 이 아래의 내용들을 전부 지우고 ctr + alt + i 로 열을 맞춘다. -->

{% endblock %} <!-- 155. 위에 block으로 감쌌으므로 마지막에 endblock을 입력하고 156. post_detail.html로 이동해서 1~59, 101~마지막까지 삭제하고 ctr + alt + i로 정리한다. -->